@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

.default-hero {
  .text-wrapper {
    text-align: center;
    max-width: @container-header-width;
    margin: 0 20px;
    padding: 40px 0 10px;

    @media @desktop {
      margin: 0 auto;
      padding: 80px 0 60px;
    }

    h1 {
      color: @black;
    }
    h2 {
      font-size: 19px;
      margin-bottom: 30px;
      .font-regular(fade(@black, 90%));
      letter-spacing: 0;
      @media @desktop {
        font-size: 26px;
      }
    }
  }
}
