@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

.action-wrapper {
  .apply-color-scheme();

  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;

  @media @desktop-xxl {
    min-height: auto;
  }

  // h1,
  // h2,
  // h3,
  // h4,
  // h5,
  // h6 {
  //   color: @white;
  // }

  // .ant-btn-background-ghost.ant-btn-primary {
  //   &:not(.colored) {
  //     color: @white;
  //     border-color: @white;
  //   }
  // }

  // a {
  //   color: @white;
  //   text-decoration: underline;
  // }

  // .action-category,
  // .action-category .ant-btn-link,
  // .title,
  // .form-group .form-group-label,
  // .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  // .check-list .list-elem .anticon,
  // .ant-btn-link {
  //   color: @white;
  // }

  // .step,
  // .form-group .form-group-description,
  // .ant-form-vertical .ant-form-item-label > label,
  // .ant-checkbox-wrapper,
  // p {
  //   color: fade(@white, 85%);
  // }

  // .ant-divider {
  //   border-color: fade(@white, 75%);
  // }

  // .ant-tabs .ant-tabs-tab {
  //   color: fade(@white, 75%);
  // }

  .stats-wrapper {
    // .description-wrapper {
    //   color: @white;
    // }
    .ant-tag {
      // color: @white;
      border: none;
    }
  }

  .action-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .action-body {
    padding: 100px 0;
    @media @desktop {
      padding: 110px 0 50px;
    }
    .form-spacing {
      margin: 20px 0;
    }
  }

  .footer {
    padding: 10px 0 30px;
    @media @desktop {
      padding: 15px 0 35px;
    }
  }
  .counter {
    text-align: right;
    @media @desktop {
      margin: 20px 0;
    }
    .font-bold();
    .step {
      font-size: 20px;
      line-height: 1;
      @media @desktop {
        font-size: 46px;
      }
    }
    .save {
      font-size: 18px;
      .font-medium();
    }
  }

  .step-header {
    h2 {
      .h2();
      margin-bottom: 20px;
      // color: @white;
      @media @desktop {
        margin-bottom: 25px;
      }
    }

    p {
      line-height: 1.4;
      // .font-regular(fade(@white, 90%));
    }
  }

  .steps-container {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: @screen-lg) {
      height: 100%;
    }
    .step {
      width: 100%;
    }
    .ant-tabs {
      width: 100%; // fix on IE 10
    }
  }
}
