@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

@margin-top-filters: 10px;
@margin-bottom-filters: 10px;

.scrollable-filters-spacer {
  height: calc(
    @scrollable-filter-mobile-height + @margin-top-filters +
      @margin-bottom-filters
  );
  @media @desktop {
    height: auto;
  }
}

.ant-form.scrollable-filters {
  margin: @margin-top-filters 0 @margin-bottom-filters;

  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  margin-right: -@default-section-padding;
  position: absolute;
  height: @scrollable-filter-mobile-height;
  width: calc(100% + @default-section-padding);

  @media @desktop {
    margin-right: 0;
    position: initial;
    height: auto;
    width: 100%;
  }
  .hide-scrollbar();

  .ant-form-item-label {
    padding-bottom: 2px;
  }

  .ant-form-item {
    margin-right: 12px;
    display: flex;
    flex-direction: row;
    .ant-select {
      .ant-select-selection-overflow {
        flex-wrap: initial;
      }
    }
    .ant-form-item-label {
      flex: 0 0 100%;
      > label {
        font-size: 14px;
      }
    }
  }
}
