@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';

.default-layout {
  background: @light-white;
  overflow-x: hidden;
  header {
    h2 {
      .default-text();
    }
  }
  .page-body {
    margin: 40px 0;
    @media @desktop {
      margin: 60px 0;
    }
  }
}

.landing-layout {
  background: @light-white;
  overflow-x: hidden;
  .page-body {
    section {
      &:first-child {
        padding-top: @navbar-height;
        @media @desktop {
          padding-top: @navbar-height + 50px;
        }
      }
    }
  }
}
