@import (reference) '../../../styles/vars.less';
@import (reference) '../../../styles/fonts.less';

.ant-card.action-card {
  .ant-card-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    .icon {
      width: 65px;
      height: 65px;
      border-radius: 12px;
      border: 1px solid #f4f4f4;
      background-color: @white;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .text {
      padding-left: 20px;
      .ant-card-meta-title {
        font-size: 19px;
      }

      .tags {
        margin: 10px 0 0;
      }
    }
    .actions {
      margin-right: 0;
      margin-left: auto;
    }
  }
}
