@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';

.ant-list-item.multi-select-list-item.is-selected {
  .ant-card.politician-card {
    .ant-card-body {
      .name {
        color: @white;
      }
      .ant-tag.base-tag {
        color: fade(@white, 85%);
        border-color: fade(@white, 85%);
      }
    }
  }
}

.ant-card.politician-card {
  .ant-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: @black;

    @media @desktop {
      flex-direction: row;
    }

    header {
      display: flex;
      width: 100%;
      border-bottom: 1px solid #e5e5e5;
      padding-bottom: 15px;
      @media @desktop {
        width: auto;
        border-bottom: none;
        padding-bottom: 0;
      }
      .image {
        margin-right: 12px;
        @media @desktop {
          margin-right: 24px;
        }
      }
      .info {
        flex: 1;
        .name {
          font-size: 20px;
          color: @black;
          .font-semi();
        }
        .parliament {
          display: flex;
          align-items: center;
          .icon {
            margin-right: 8px;
            width: 32px;
            display: flex;
            align-items: center;
          }
          .name {
            flex: 1;
            font-size: 12px;
            .font-regular(fade(@black, 75%));
            max-width: 100px;
            line-height: 1.1;
          }
        }
      }
    }

    .desc {
      margin-left: 0;
      margin-right: auto;
    }
    .actions {
      margin-right: 0;
      margin-left: auto;
    }

    .button {
      @media @desktop {
        margin: 0 0 0 auto;
      }
    }
  }
}

.slick-slider.custom-slider {
  .fixed-width-wrapper {
    width: 280px !important;
    @media @desktop {
      width: 600px !important;
    }
  }
  .politician-card {
    margin-right: 20px;
  }
}
