.copy-text-area {
  position: relative;
  textarea.ant-input {
    padding: 20px;
    line-height: 1.5;
    font-size: 18px;
  }
  .ant-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
  }
}
