@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

.hero {
  background: @color-base;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  @media @desktop {
    min-height: calc(100vh - 80px);
  }

  @media (min-width: @screen-xxl) {
    min-height: auto;
  }

  h1 {
    .h1-hero();
    color: @black;
    margin-bottom: 30px;
    display: flex;
    @media @mobile {
      padding-right: 20px;
    }

    .highlight {
      .underline-scribble();
    }
  }
  p {
    font-size: 19px;
    margin-bottom: 30px;
    color: fade(@black, 80%);
    @media @desktop {
      font-size: 26px;
    }
  }

  .content {
    padding: 50px 0;
    text-align: left;

    @media @desktop {
      text-align: center;
      padding: 30px 30px 60px;
      max-width: @container-hero-width;
      margin: 0 auto;
    }

    @media (min-width: @screen-xxl) {
      max-width: @container-hero-width-xl;
    }

    .hero-title {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      height: calc(2 * @h1-hero-xs + 15px);

      @media @desktop {
        height: calc(2 * @h1-hero-xl + 30px);
      }

      @media (min-width: @screen-xxl) {
        height: calc(2 * @h1-hero-xl + 70px);
      }
    }

    .scroll-continue {
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);

      .ant-btn {
        background: transparent;
        border-color: transparent;
        color: @black;

        .anticon {
          font-size: 28px;
        }
      }
    }

    .bg-wrapper {
      position: absolute;

      &.graphic-right {
        right: -300px;
        bottom: -30px;
        width: 230px;
        height: 241px;
        @media @desktop {
          right: -120px;
          bottom: auto;
          top: 10px;
          width: 230px;
          height: 263px;
        }

        @media (min-width: @screen-xl) {
          width: 250px;
          height: 303px;
        }
      }

      &.graphic-left {
        left: -300px;
        bottom: -70px;
        width: 230px;
        height: 241px;
        @media @desktop {
          left: -40px;
          bottom: -30px;
          width: 300px;
          height: 333px;
        }

        @media (min-width: @screen-xl) {
          width: 330px;
          height: 353px;
        }
      }
    }
  }
}
