@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';

.hero {
  background: @yellow;
  min-height: calc(100vh - 90px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  h1 {
    .h1-hero();
    color: @black;
    margin-bottom: 30px;
    @media @mobile {
      padding-right: 20px;
    }

    strong {
      .h1-hero();
      background-color: @black;
      background-size: 100%;
      background-clip: text;
      text-decoration: none;
      position: relative;
      z-index: 2;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -webkit-text-fill-color: transparent;
      -moz-text-fill-color: transparent;

      &::after {
        content: '';
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        bottom: -5px;
        height: 31px;
        width: 120%;
        background-image: url('/images/underline-scribble.svg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
  p {
    font-size: 19px;
    margin-bottom: 30px;
    color: fade(@black, 80%);
    @media @desktop {
      font-size: 26px;
    }
  }

  .content {
    padding: 50px 0;
    text-align: left;

    @media @desktop {
      text-align: center;
      padding: 60px 40px;
      max-width: @container-hero-width;
      margin: 0 auto;
    }

    // .start-btn {
    //   position: relative;
    //   .ant-btn {
    //     &.with-arrow {
    //       ::before {
    //         content: '';
    //         position: absolute;
    //         z-index: 1;
    //         left: -145px;
    //         top: 30px;
    //         height: 31px;
    //         width: 123px;
    //         background-image: url('/images/scribble-arrow.svg');
    //         background-position: left;
    //         background-size: contain;
    //         background-repeat: no-repeat;
    //       }
    //     }
    //   }
    // }

    .scroll-continue {
      position: absolute;
      left: 50%;
      bottom: 10px;
      transform: translateX(-50%);

      .ant-btn {
        background: transparent;
        border-color: transparent;

        .anticon {
          font-size: 28px;
        }
      }
    }

    .bg-wrapper {
      position: absolute;

      &.mouth {
        right: -90px;
        bottom: -70px;
        width: 230px;
        height: 241px;
        @media @desktop {
          right: -20px;
          bottom: auto;
          top: 30px;
          width: 270px;
          height: 293px;
        }
      }

      &.plant {
        left: -90px;
        bottom: -70px;
        width: 230px;
        height: 241px;
        @media @desktop {
          left: -40px;
          bottom: -40px;
          width: 320px;
          height: 363px;
        }
      }
    }
  }
}
