@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';

.detail-view.action {
  .hero-image {
    width: 100%;
    img {
      border-radius: 18px;
      width: 100%;
    }
  }

  .header {
    display: flex;
    margin: 40px 0 30px;
    .title {
      flex: 1;
      .font-semi(@white);
      font-size: 28px;
      padding-right: 20px;
      @media @desktop {
        font-size: 34px;
      }
    }
    .actions {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .check-list {
    .list-elem {
      .anticon {
        color: @secondary-color;
      }
    }
  }

  .section-title {
    .anticon {
      margin-right: 16px;
      color: @secondary-color;
    }
    .font-semi();
    font-size: 20px;
    margin: 40px 0 10px;
  }

  .tags {
    margin: 20px 0;
  }
}
