@import (reference) '../../../styles/vars.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

.action-wrapper {
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;

  @media @desktop-xxl {
    min-height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: @white;
  }

  .action-category,
  .title,
  .ant-form-vertical .ant-form-item-label > label,
  .form-group .form-group-label,
  .form-group .form-group-description,
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .ant-btn-link {
    color: @white;
  }

  .step,
  p {
    color: fade(@white, 75%);
  }

  .ant-divider {
    border-color: fade(@white, 75%);
  }

  .ant-tabs .ant-tabs-tab {
    color: fade(@white, 75%);
  }

  .stats-wrapper {
    .description-wrapper {
      color: @white;
    }
    .ant-tag {
      color: @white;
      border: none;
    }
  }

  &.color-1 {
    background: darken(@blue, 5%);
    .stats-wrapper .ant-tag {
      background: darken(@blue, 15%);
    }
  }
  &.color-2 {
    background: darken(@orange, 5%);
    .stats-wrapper .ant-tag {
      background: darken(@orange, 15%);
    }
  }
  &.color-3 {
    background: darken(@green, 5%);
    .stats-wrapper .ant-tag {
      background: darken(@green, 15%);
    }
  }
  &.color-4 {
    background: darken(@lila, 5%);
    .stats-wrapper .ant-tag {
      background: darken(@lila, 15%);
    }
  }

  .action-body {
    padding: 120px 0;
    @media @desktop {
      padding: 130px 0 50px;
    }
    .form-spacing {
      margin: 20px 0;
    }
  }

  .footer {
    padding: 10px 0 30px;
    @media @desktop {
      padding: 15px 0 35px;
    }
  }
  .counter {
    text-align: right;
    @media @desktop {
      margin: 20px 0;
    }
    .font-bold();
    .step {
      font-size: 20px;
      line-height: 1;
      @media @desktop {
        font-size: 46px;
      }
    }
    .save {
      font-size: 18px;
      .font-medium();
    }
  }

  h2 {
    .h2();
    margin-bottom: 15px;
    @media @desktop {
      margin-bottom: 30px;
    }
  }

  p {
    line-height: 1.4;
    .font-regular();
  }

  .steps-container {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: @screen-lg) {
      height: 100%;
    }
    .step {
      width: 100%;
    }
    .ant-tabs {
      width: 100%; // fix on IE 10
    }
  }

  .action-category {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .ant-btn-link {
      border-bottom: none;
      border-top: none;
      margin: 0;
      .font-medium();
      font-size: 17px;
      padding: 0;
    }
    .icon {
      margin-right: 12px;
      background: @white;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .action-stats {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    .hide-scrollbar();
    margin-right: -@default-section-padding;
    @media (min-width: @screen-lg) {
      margin-right: 0;
    }
    .stats-wrapper {
      display: flex;

      white-space: normal;
      flex: 0 0 46%;
      @media (min-width: @screen-md) {
        flex: 0 0 33%;
      }
      .stat {
        margin: 0;
      }
      .ant-tag {
        padding: 4px 8px;
        white-space: nowrap;
      }
      .description-wrapper {
        position: relative;
        flex-grow: 1;
        .description {
          position: absolute;
          padding: 0 10px 0 4px;
          display: inline-block;
          font-size: 13px;
          line-height: 1.1;
        }
      }
    }
  }
}
