@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

.action-wrapper {
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  display: flex;

  @media @desktop-xxl {
    min-height: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: @white;
  }

  .action-category,
  .action-category .ant-btn-link,
  .title,
  .form-group .form-group-label,
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .check-list .list-elem .anticon,
  .ant-btn-link {
    color: @white;
  }

  .step,
  .form-group .form-group-description,
  .ant-form-vertical .ant-form-item-label > label,
  p {
    color: fade(@white, 85%);
  }

  .ant-divider {
    border-color: fade(@white, 75%);
  }

  .ant-tabs .ant-tabs-tab {
    color: fade(@white, 75%);
  }

  .stats-wrapper {
    .description-wrapper {
      color: @white;
    }
    .ant-tag {
      color: @white;
      border: none;
    }
  }

  &.color-1 {
    .color-module(@blue);
  }
  &.color-2 {
    .color-module(@green);
  }
  &.color-3 {
    .color-module(@lila);
  }
  &.color-4 {
    .color-module(@orange);
  }

  .action-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .action-body {
    padding: 100px 0;
    @media @desktop {
      padding: 110px 0 50px;
    }
    .form-spacing {
      margin: 20px 0;
    }
  }

  .footer {
    padding: 10px 0 30px;
    @media @desktop {
      padding: 15px 0 35px;
    }
  }
  .counter {
    text-align: right;
    @media @desktop {
      margin: 20px 0;
    }
    .font-bold();
    .step {
      font-size: 20px;
      line-height: 1;
      @media @desktop {
        font-size: 46px;
      }
    }
    .save {
      font-size: 18px;
      .font-medium();
    }
  }

  .step-header {
    h2 {
      .h2();
      margin-bottom: 20px;
      color: @white;
      @media @desktop {
        margin-bottom: 25px;
      }
    }

    p {
      line-height: 1.4;
      .font-regular(fade(@white, 90%));
    }
  }

  .steps-container {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: @screen-lg) {
      height: 100%;
    }
    .step {
      width: 100%;
    }
    .ant-tabs {
      width: 100%; // fix on IE 10
    }
  }

  .action-category {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    .ant-btn-link {
      border-bottom: none;
      border-top: none;
      margin: 0;
      .font-medium(@white);
      padding: 0;
      .anticon {
        color: @white;
      }
    }
    .icon {
      margin-right: 12px;
      background: @white;
      width: 30px;
      height: 30px;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .action-stats {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    .hide-scrollbar();
    margin-right: -@default-section-padding;
    @media (min-width: @screen-lg) {
      margin-right: 0;
    }
    .stats-wrapper {
      display: flex;
      margin-right: 30px;

      .ant-progress-text {
        display: none;
      }

      .ant-progress-steps-item-active {
        background: @secondary-color;
      }

      .stat {
        margin: 0;
      }
      .ant-tag {
        height: 40px;
        width: 40px;
        white-space: nowrap;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;
        margin-right: 16px;
        .anticon {
          color: @white;
          font-size: @font-size-lg;
        }
      }
      .description-wrapper {
        position: relative;
        flex-grow: 1;

        .label {
          font-size: 13px;
          color: fade(@white, 85%);
        }
        .data {
          .font-medium(@white);
          font-size: 19px;
        }
      }
    }
  }
}
