@import '../../../styles/vars.less';
@import '../../../styles/fonts.less';

header.header {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media @desktop {
    align-items: flex-start;
  }
}

.header-inner {
  height: @header-height-mini;
  position: fixed;
  z-index: 101;
  top: 0;
  width: 100%;
  padding: 10px 15px;
  background: @white;

  .header-inner-content {
    max-width: @container-header-max-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    transform: translate3d(0, 0, 0);
  }

  @media @desktop {
    width: 50%;
    height: auto;
    padding: 25px 25px;
  }

  .header-logo {
    max-height: 100%;
    display: flex;
    width: 63px;
    img {
      width: 100%;
    }
  }
  .challenge-bar {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 1;

    .challenge-name,
    .challenge-invitee {
      span {
        white-space: nowrap;
      }
    }
    .challenge-name {
      .font-semi();
      font-size: 20px;
    }
    .challenge-invitee {
      font-size: 13px;
    }
  }
}

.header-outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: @white;
  z-index: 100;
  transform: translate3d(0, 0, 0);
  max-width: @container-action-width;

  footer.footer {
    display: none;
  }

  .start-btn {
    display: block;
  }

  @media @desktop {
    max-width: none;
    width: 50%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
    pointer-events: initial;
    justify-content: space-between;
    align-items: flex-start;
    footer.footer {
      padding: 40px 45px;
      display: block;
    }
    .start-btn {
      display: none;
    }
  }

  .placeholder {
    @media @desktop {
      height: 110px;
    }
  }

  .content {
    padding: 30px + @header-height-mini @default-section-padding 50px;
    @media @desktop {
      padding: 50px 45px;
    }
    h1 {
      font-size: 43px;
      .font-bold();
      @media @desktop {
        font-size: 60px;
      }
    }
    p {
      font-size: 19px;
      margin-bottom: 20px;
      @media @desktop {
        font-size: 26px;
      }
    }
  }
}

.progress-element {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
