@import '../../../styles/vars.less';
@import '../../../styles/mixins.less';

.ant-btn.cta {
  &.bold-arrow {
    font-size: 15px;
    border-bottom: none;
    .font-semi();
    color: @black;
    margin-right: 4px;
    vertical-align: text-bottom;
  }
}
