@import '~antd/lib/style/themes/default.less';

// -------- Colors -----------
@primary-color: #1f335e;
@secondary-color: #d82086;
@tertiary-color: #121f3a;
@white: #fff;
@black: #111e3b;

// Fonts
@font-family: 'Manrope';
@font-size-base: 18px;
@font-size-lg: 18px;
@font-size-sm: 17px;
@line-height-base: 1.3;
@heading-color: @black;
@text-color: @black;

// Border radius
@border-radius-base: 8px;
@border-radius-sm: 8px;
@border-radius-lg: 8px;

// height rules
@height-base: 50px;
@height-lg: 52px;
@height-sm: 48px;

// Buttons
@btn-font-weight: 400;
@btn-border-radius-base: @border-radius-base;
@btn-border-radius-sm: @border-radius-base;
@btn-shadow: none;
@btn-primary-shadow: none;
@btn-text-shadow: none;
@btn-primary-color: #fff;
@btn-primary-bg: @secondary-color;

@btn-default-ghost-color: @secondary-color;
@btn-default-ghost-bg: transparent;
@btn-default-ghost-border: @secondary-color;

@btn-font-size-lg: 19px;
@btn-font-size-sm: 19px;

@btn-height-base: @height-base;
@btn-height-lg: @height-lg;
@btn-height-sm: @height-sm;
@btn-line-height: @line-height-base;

// Checkbox
@checkbox-size: 16px;
