@import (reference) './variables.less';

.font-bold() {
  font-family: 'Manrope', sans-serif;
  font-weight: 800 !important;
  font-style: normal;
  color: var(--heading-color);
}

.font-semi() {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-style: normal;
  color: var(--heading-color);
}

.font-medium() {
  font-family: 'Manrope', sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--heading-color);
}

.font-regular() {
  font-family: 'Manrope', sans-serif;
  font-weight: 300;
  font-style: normal;
  color: var(--text-color);
}

.h1() {
  .font-bold();
  font-size: 36px;
  letter-spacing: -1.1px;
  line-height: 1.2;
  @media (min-width: @screen-sm) {
    font-size: 62px;
  }
}

.h2() {
  .font-bold();
  font-size: 36px;
  line-height: 1.1;
  @media (min-width: @screen-sm) {
    font-size: 56px;
  }
}

.h3() {
  .font-bold();
  font-size: 28px;
  @media (min-width: @screen-sm) {
    font-size: 32px;
  }
}

.h4() {
  .font-bold();
  font-size: 21px;
  @media (min-width: @screen-sm) {
    font-size: 28px;
  }
}

.default-text() {
  color: var(--text-color);
  font-weight: 300;
  line-height: 1.5;
}

.h1-hero() {
  .font-bold();
  font-size: 52px;
  letter-spacing: -1px;
  line-height: 1.05;
  @media (min-width: @screen-sm) {
    font-size: 102px;
    letter-spacing: -2px;
    line-height: 0.95;
  }
}

.text-appear-wrapper {
  overflow: hidden;
  span {
    display: inline-block;
  }
}

h1,
h2,
h3,
h4 {
  color: var(--heading-color);
}

h1 {
  .h1();
}

h2 {
  .h2();
}

h3 {
  .h3();
}

h4 {
  .h4();
}

p {
  .default-text();
}
