@import './vars.less';

.font-bold() {
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  font-style: normal;
}

.font-semi() {
  font-family: 'Manrope', sans-serif;
  font-weight: 600;
  font-style: normal;
}

.font-medium() {
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  font-style: normal;
}

.font-regular() {
  font-family: 'Manrope', sans-serif;
  font-weight: normal;
  font-style: normal;
}

.h1() {
  .font-bold();
  font-size: 36px;
  @media (min-width: @screen-sm) {
    font-size: 62px;
  }
}

.h2() {
  .font-bold();
  font-size: 36px;
  @media (min-width: @screen-sm) {
    font-size: 48px;
  }
}

.h3() {
  .font-semi();
  font-size: 28px;
  @media (min-width: @screen-sm) {
    font-size: 36px;
  }
}

.h4() {
  .font-semi();
  font-size: 21px;
  @media (min-width: @screen-sm) {
    font-size: 28px;
  }
}

.default-text() {
  color: fade(@black, 85%);
}

.text-appear-wrapper {
  overflow: hidden;
  span {
    display: inline-block;
  }
}

h1,
h2,
h3,
h4 {
  color: @black;
}

h1 {
  .h1();
}

h2 {
  .h2();
}

h3 {
  .h3();
}

h4 {
  .h4();
}

p {
  .default-text();
}
