@import './vars.less';
@import './reset.less';
@import './fonts.less';

html,
body {
  height: 100%;
  width: 100%;
}

#__next {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.option-with-icon {
  display: flex;
  align-items: center;
}
