@import './vars.less';
@import './reset.less';
@import './fonts.less';

html,
body {
  height: 100%;
  width: 100%;
}

#__next {
  height: 100%;
  width: 100%;
}

.container {
  height: 100%;
  width: 100%;
}

.option-with-icon {
  display: flex;
  align-items: center;
}

.ant-form.scrollable-filters {
  display: flex;
  overflow-x: auto;
  .ant-form-item {
    margin-right: 12px;
  }
}

.main-container {
  max-width: @container-action-width;
  margin: 0 auto 0 100px;
}

.hidden {
  &.md {
    @media (max-width: @screen-md-max) {
      display: none;
    }
  }
}
