@import (reference) './variables.less';

// Circled image for company logos
.logo-circle(@size, @border-color) {
  max-width: 100%;
  background: @white;
  height: @size;
  width: @size;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  padding: 6%;
  border: 5px solid @border-color;
  img {
    max-width: 90%;
    object-fit: cover;
    max-height: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
  }
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}

.xl-button {
  padding: 0 32px;
  font-size: 20px;
  height: 56px;
  line-height: 56px;
  border-radius: 20px;

  @media @desktop {
    height: 62px;
    line-height: 62px;
    padding: 0 38px;
    font-size: 22px;
  }
}

.horizontal-scroll() {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  flex-wrap: nowrap;
  max-width: 100%;
  .hide-scrollbar();
}

.app-icon-style(@size) {
  position: relative;
  width: @size;
  height: @size;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: calc(@size / 4);
  overflow: hidden;
  box-shadow: @box-shadow-base;
}

.tag-color(@color) {
  background-color: fade(@color, 5%);
  color: @color;
  border: 1px solid @color;
}

.color-module(@color) {
  background-color: @color;
  .stats-wrapper .ant-tag {
    background: fade(@white, 20%);
  }
  .game-progress {
    background: fade(@white, 20%);
  }
  .hamburger-inner,
  .hamburger-inner::after {
    background-color: @white;
  }
}

.color-icon(@color: @primary-color) {
  .anticon {
    color: @color;
    path {
      fill: @color;
    }
  }
}

.color-base(@color) {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: @black;
  }

  .nav,
  .default-hero {
    background: @color;
  }
}

.apply-color-to-module {
  &.color-1 {
    .color-module(@color-1);
  }
  &.color-2 {
    .color-module(@color-2);
  }
  &.color-3 {
    .color-module(@color-3);
  }
  &.color-4 {
    .color-module(@color-4);
  }
}

.apply-base-theme {
  &.color-1 {
    .color-base(@color-1);
  }
  &.color-2 {
    .color-base(@color-2);
  }
  &.color-3 {
    .color-base(@color-3);
  }
  &.color-4 {
    .color-base(@color-4);
  }
  &.color-base {
    .color-base(@color-base);
  }
  &.color-white {
    .color-base(@white);
  }
}

.underline-scribble() {
  background-color: @black;
  background-size: 100%;
  background-clip: text;
  text-decoration: none;
  position: relative;
  z-index: 2;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;

  &::after {
    content: '';
    position: absolute;
    z-index: -1;
    left: -5%;
    right: 0;
    bottom: -4px;
    height: 31px;
    width: 120%;
    background-image: url('/images/underline-scribble.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
}
