@import './ant-default-vars.less';

// Container variables
@container-width: 1240px;
@container-width-xl: 1400px;
@container-width-xxl: 1520px;
@container-width-xxxl: 1800px;
@container-width-simple: 860px;
@default-section-padding-md: 60px 0;
@default-section-padding-xs: 40px 0;
@default-section-padding: 25px;
@default-section-padding-lg: 30px;
@default-section-padding-xl: 40px;
@default-section-padding-xxl: 70px;
@padding-extra-sm: @default-section-padding;
@padding-extra: 40px;
@padding-extra-xl: 60px;
@padding-extra-xxl: 70px;

// Modals
@padding-modal: 70px 30px 40px;
@padding-modal-md: 70px 60px 50px;

@top-bar-height: 46px;

// Colors
@white: #fff;
@black: #022b32;
@light-grey: #f2f2f2;
@medium-grey: #7e7272;
@light-white: #fdfaf5;

// palette
@blue: #1f335e;
@green: #009976;
@orange: #ff832c;
@pink: #d82086;
@lila: #622860;
@yellow: #f2ca49;

@navbar-height: 140px;
@navbar-height-mobile: 80px;
@logo-margin: 15px 12px;
@logo-margin-mobile: 2px 5px;

@header-space: 200px;
@header-space-mobile: 170px;

@logo-size-mobile: 115px;
@logo-size: 120px;

@hero-height: 620px;
@hero-height-mobile: 480px;

// Media queries breakpoints
// Extra small screen / phone
@screen-xs: 480px;
@screen-xs-min: @screen-xs;

// Small screen / tablet
@screen-sm: 576px;
@screen-sm-min: @screen-sm;

// Medium screen / desktop
@screen-md: 768px;
@screen-md-min: @screen-md;

// Large screen / wide desktop
@screen-lg: 992px;
@screen-lg-min: @screen-lg;

// Extra large screen / full hd
@screen-xl: 1200px;
@screen-xl-min: @screen-xl;

// added in between step
@screen-xl-small: 1300px;
@screen-xl-small-min: @screen-xl-small;
@screen-xl-small-factor: 1.11;

// Extra extra large screen / large descktop
@screen-xxl: 1601px;
@screen-xxl-min: @screen-xxl;
@screen-xxl-factor: 1.33;

// Extra extra large screen / large descktop
@screen-xxxl: 1900px;
@screen-xxxl-min: @screen-xxl;
@screen-xxl-factor: 1.5;

// provide a maximum
@screen-xs-max: (@screen-sm-min - 1px);
@screen-sm-max: (@screen-md-min - 1px);
@screen-md-max: (@screen-lg-min - 1px);
@screen-lg-max: (@screen-xl-min - 1px);
@screen-xl-max: (@screen-xxl-min - 1px);
@screen-xxl-max: (@screen-xxxl-min - 1px);

// Text
@text-color: fade(@black, 80%);
