@import '../../../styles/vars.less';
@import '../../../styles/fonts.less';

.action-wrapper {
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 100vh;

  @media @desktop {
    padding-left: 50%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    color: @white;
  }

  .action-category,
  .step,
  .ant-form-vertical .ant-form-item-label > label,
  .form-group .form-group-label,
  .form-group .form-group-description,
  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn,
  .ant-btn-link {
    color: @white;
  }

  .ant-divider {
    border-color: fade(@white, 75%);
  }

  .ant-tabs .ant-tabs-tab {
    color: fade(@white, 75%);
  }

  .stats-wrapper {
    .description-wrapper {
      color: @white;
    }
    .ant-tag {
      color: @white;
    }
  }

  &.color-1 {
    background: @blue;
    .stats-wrapper .ant-tag {
      background: darken(@blue, 10%);
    }
  }
  &.color-2 {
    background: @orange;
  }
  &.color-3 {
    background: @green;
  }
  &.color-4 {
    background: @lila;
  }

  .action-container {
    padding: @default-section-padding;
    max-width: @container-action-width;
    margin: 0 auto;
    @media @desktop {
      padding: 70px;
    }
  }

  .action-body {
    padding: 50px 0;
    @media @desktop {
      padding: 120px 0 80px;
    }
    .form-spacing {
      margin: 20px 0;
    }
  }
  .action-category {
    .font-medium();
    font-size: 17px;
    margin-bottom: 10px;

    .ant-btn-link {
      border-bottom: none;
      border-top: none;
      margin-bottom: 10px;

      .font-medium();
      > .anticon + span {
        margin-left: 0;
      }
      font-size: 17px;
    }
    .anticon {
      margin-right: 8px;
      font-size: 15px;
    }
  }
  .footer {
    padding: 0;
    @media @desktop {
      padding: 5px 0;
    }
  }
  .counter {
    text-align: right;
    @media @desktop {
      margin: 20px 0;
    }
    .font-bold();
    .step {
      font-size: 20px;
      line-height: 1;
      @media @desktop {
        font-size: 46px;
      }
    }
    .save {
      font-size: 18px;
      .font-medium();
    }
  }
  h2 {
    .font-bold();
    margin-bottom: 15px;
    font-size: 41px;
    .emoji {
      img {
        vertical-align: top;
        width: 41px;
        margin-left: 4px;
      }
    }
  }
  p {
    line-height: 1.4;
    .font-regular();
  }
  .steps-container {
    position: relative;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (min-width: @screen-lg) {
      height: 100%;
    }
    .step {
      width: 100%;
    }
    .ant-tabs {
      width: 100%; // fix on IE 10
    }
  }

  .action-stats {
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
    &::-webkit-scrollbar {
      display: none;
    }
    margin-right: -@default-section-padding;
    @media (min-width: @screen-lg) {
      margin-right: 0;
    }
    .stats-wrapper {
      display: flex;

      white-space: normal;
      flex: 0 0 46%;
      @media (min-width: @screen-md) {
        flex: 0 0 33%;
      }
      .stat {
        margin: 0;
      }
      .ant-tag {
        padding: 4px 8px;
        white-space: nowrap;
        // .scale-text(13px);
        @media (min-width: @screen-xl-small) {
          padding: 6px 10px;
        }
        @media (min-width: @screen-xxl) {
          padding: 10px 12px;
        }
      }
      .description-wrapper {
        position: relative;
        flex-grow: 1;
        .description {
          position: absolute;
          padding: 0 10px 0 4px;
          display: inline-block;
          font-size: 13px;
          line-height: 1.1;
          @media (min-width: @screen-xl) {
            font-size: 13px;
            padding: 0 30px 0 4px;
          }
          @media (min-width: @screen-xl-small) {
            padding: 0 30px 0 4px;
            font-size: 14px;
          }
          @media (min-width: @screen-xxl) {
            font-size: 18px;
          }
        }
      }
    }
  }
}
