@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

.default-nav {
  .apply-color-scheme();

  display: flex;
  justify-content: space-between;
  .logo {
    padding: @default-logo-padding;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  nav {
    .nav-element {
      &.ant-btn {
        display: flex;
        align-items: center;
        justify-items: center;
        padding-top: inherit !important;
        color: @white;
        .ant-avatar {
          margin-right: 8px;
        }
      }
    }
    .nav-items {
      display: none;
      @media @desktop {
        display: block;
      }
    }
    ul {
      display: flex;
      align-items: center;
      li {
        padding: 12px 20px;
      }
    }
  }
}
