@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

.link-font-style(@color) {
  .font-regular(@color);
  font-size: @font-size-sm;
}

nav.nav {
  .apply-color-scheme();
  display: flex;
  width: 100%;

  .ant-menu {
    flex: 1;
    background: transparent;
    border-bottom: none;
    display: flex;
    justify-content: flex-end;
    margin: 0;
    align-self: flex-start;

    .ant-menu-submenu,
    .ant-menu-item {
      padding: 20px 30px;
      .link-font-style(@white);
      display: flex;
      align-items: center;
      line-height: 1;
      &::after {
        border-color: transparent;
      }
      &:hover {
        color: fade(@white, 80%);
        &::after {
          border-color: transparent;
        }
      }
      .submenu-icon {
        font-size: 14px;
        margin-left: 8px;
        transition: all 0.2s ease;
        &.open {
          transform: rotate(180deg);
        }
      }
    }

    .ant-menu-title-content {
      display: flex;
      align-items: center;
    }
  }

  &.absolute {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
  }
  &.light {
    background-color: transparent;
    background-image: none;
  }
  &.dark {
    background-color: transparent;
    background-image: none;
    .ant-menu-submenu,
    .ant-menu-item {
      .link-font-style(@black);
    }
  }

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media @desktop {
      max-width: @container-max-width;
      margin: 0 auto;
    }
  }

  .logo {
    padding: @default-logo-padding;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.popover-content {
  display: flex;
  align-items: center;
  .content {
    flex: 1;
    font-size: 17px;
  }
  .ant-btn {
    margin-right: 0;
    margin-left: auto;
    width: auto;
    .anticon {
      font-size: 17px;
    }
  }
}
