@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';

.link-font-style() {
  .font-regular(var(--heading-color));
  font-size: @font-size-sm;
}

nav.nav {
  border-bottom: 1px solid var(--medium-grey);
  ul {
    display: flex;
    justify-content: flex-end;
    margin: 0;
    li {
      padding: 12px 30px;
      border-left: 1px solid var(--medium-grey);
      align-items: center;
      display: flex;
      .link-font-style();
      a {
        .link-font-style();
      }
      .ant-btn-link {
        .link-font-style();
      }
    }
  }
}
