@import (reference) '../../../styles/variables.less';
@import (reference) '../../../styles/fonts.less';
@import (reference) '../../../styles/mixins.less';

nav.nav {
  display: flex;
  width: 100%;
  background: @yellow;
  height: @navbar-height;
  align-items: center;
  border-bottom: 1px solid @border-color-base;

  .nav-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    @media @desktop {
      max-width: @container-max-width;
      margin: 0 auto;
    }
  }

  .logo {
    padding: @default-logo-padding;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.popover-content {
  display: flex;
  align-items: center;
  .content {
    flex: 1;
    font-size: 17px;
    display: flex;
    align-items: center;
    padding-right: 10px;
    .logo {
      margin-right: 15px;
      box-shadow: @box-shadow-base;
      padding: 8px;
      border-radius: @border-radius-base;
      .logo-wrapper {
        position: relative;
        width: 40px;
        height: 40px;
      }
    }
  }
  .ant-btn {
    margin-right: 0;
    margin-left: auto;
    width: auto;
    .anticon {
      font-size: 17px;
    }
  }
}
